<footer class="w-full bg-[#F0F0F0] px-4 pb-10 font-sans mt-32">
    <section class="max-w-7xl mx-auto bg-black rounded-[20px] p-8 md:px-16 flex flex-col md:flex-row justify-between items-center gap-6 -translate-y-1/2">
        <h2 class="text-3xl md:text-4xl font-black text-white uppercase max-w-lg">Stay upto date about our latest offers</h2>
        <form action="" class="w-full md:w-[350px] space-y-3">
            <input type="text" placeholder="Enter your email address" class="w-full px-4 py-3 rounded-full border border-white/20 bg-transparent text-white placeholder:text-white/50 outline-none focus:ring-1 focus:ring-white">
            <button class="w-full px-4 py-3 rounded-full bg-white text-black font-medium hover:bg-gray-100 transition-colors">Subscribe to Newsletter</button>
        </form>
    </section>

    <div class="max-w-7xl mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 border-b border-gray-300 pb-10 -mt-10">
        <article class="col-span-2 lg:col-span-1">
            <h3 class="text-3xl font-black mb-4">SHOP.CO</h3>
            <nav class="flex gap-3">
                <a href="">
                    <img src="/img/twitter.png" alt="" class="w-6 h-6 object-contain">
                </a>
                <a href="">
                    <img src="/img/ig.png" alt="" class="w-6 h-6 object-contain">
                </a>
                <a href="">
                    <img src="/img/fb.png" alt="" class="w-6 h-6 object-contain">
                </a>
                <a href="">
                    <img src="/img/githup.png" alt="" class="w-6 h-6 object-contain">
                </a>
            </nav>
        </article>

        <nav>
            <h4 class="font-bold uppercase tracking-widest text-sm mb-5">COMPANY</h4>
            <ul class="space-y-3 text-gray-500 text-sm">
                <li><a href="#" class="hover:text-black">About</a></li>
                <li><a href="#" class="hover:text-black">Features</a></li>
                <li><a href="#" class="hover:text-black">Works</a></li>
                <li><a href="#" class="hover:text-black">Career</a></li>
            </ul>
        </nav>

        <nav>
            <h4 class="font-bold uppercase tracking-widest text-sm mb-5">HELP</h4>
            <ul class="space-y-3 text-gray-500 text-sm">
                <li><a href="#" class="hover:text-black">Customer Support</a></li>
                <li><a href="#" class="hover:text-black">Delivery Details</a></li>
                <li><a href="#" class="hover:text-black">Terms & Conditions</a></li>
                <li><a href="#" class="hover:text-black">Privacy Policy</a></li>
            </ul>
        </nav>
        <nav>
            <h4 class="font-bold uppercase tracking-widest text-sm mb-5">FAQ</h4>
            <ul class="space-y-3 text-gray-500 text-sm">
                <li><a href="#" class="hover:text-black">Account</a></li>
                <li><a href="#" class="hover:text-black">Deliveries</a></li>
                <li><a href="#" class="hover:text-black">Orders</a></li>
                <li><a href="#" class="hover:text-black">Payments</a></li>
            </ul>
        </nav>
        <nav>
            <h4 class="font-bold uppercase tracking-widest text-sm mb-5">RESOURCES</h4>
            <ul class="space-y-3 text-gray-500 text-sm">
                <li><a href="#" class="hover:text-black">Free eBooks</a></li>
                <li><a href="#" class="hover:text-black">Development Tutorial</a></li>
                <li><a href="#" class="hover:text-black">How to - Blog</a></li>
                <li><a href="#" class="hover:text-black">Youtube Playlist</a></li>
            </ul>
        </nav>
    </div>
    <div class="max-w-7xl mx-auto pt-6 flex flex-col md:flex-row justify-between items-center gap-4 text-gray-500 text-sm">
            <p>Shop.co © 2000-2023, All Rights Reserved</p>
        <div class="flex gap-3">
            <div class="h-8 w-12 bg-white rounded border">
                <img src="/img/visa.png" alt="">
            </div>
            <div class="h-8 w-12 bg-white rounded border">
                <img src="/img/mtcard.png" alt="">
            </div>
            <div class="h-8 w-12 bg-white rounded border">
                <img src="/img/paypal.png" alt="">
            </div>
            <div class="h-8 w-12 bg-white rounded border">
                <img src="/img/applepay.png" alt="">
            </div>
            <div class="h-8 w-12 bg-white rounded border">
                <img src="/img/ggpay.png" alt="">
            </div>
        </div>
    </div>
</footer>